#sovai{
  border: solid 3px darkred;
}
img{
    width: 70%;
}
body{
    background-color: dimgray;
}

#Campotexto{
    background-color: green;
}

p{
    color: white;
}

#titulo{
        color: yellow;
}
