
<nav class="navbar navbar-expand-lg navbar-dark " id="menuCor">
  <!--<a class="navbar-brand" href="#">S.E.M.DF</a>-->
<div class="collapse navbar-collapse navbar-lh-collapse" id="navbarText">

   <div class="container justify-content-center">
<div class="row">

  <div class="ml-md-3">
    <img id="imgBanner" src="img/wGXJdAr.jpg">
</div>

    <ul class="nav ml-md-5 lhnav">

      <li class="menu-item active">
        <a id="font_Resto" [routerLink]="['/']"><strong>Home</strong> <span class="sr-only">(current)</span></a>
      </li>
      <li class="menu-item">
        <a id="font_Resto" [routerLink]="['/map']"><strong>Matricula</strong></a>
      </li>
      <li class="menu-item">
        <a id="font_Resto" href="#"><strong>Acompanhamento</strong></a>
      </li>
      <li class="menu-item">
        <a id="font_Resto" [routerLink]="['/help']"><strong>Ajuda</strong></a>
      </li>
      <li class="menu-item">
        <a id="font_Resto" href="#"><strong>Cadastra-se</strong></a>
      </li>
      <li class="menu-item">
        <a id="font_Resto" href="#"><strong>Login</strong></a>
      </li>
    </ul>

   </div>
    </div>

    </div>

</nav>
